[Unit]
Description=Exam Platform Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/exam-platform
EnvironmentFile=-/opt/exam-platform/.env
ExecStart=/usr/bin/java -jar /opt/exam-platform/Exam_platform-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
